<% content_for :head do %>
  <title>ImgBrew DemoApp</title>
	<%= stylesheet_link_tag "home" %>
<% end %>
<div class="content_block">
	<div class="content">
		<% if @image.nil? -%>
			<b>Upload a photo...</b>
			<br/><br/>
			<% form_tag ({:action => 'upload'}, :multipart => true) do -%>
				<p><label for="upload_file">Select File</label> : 
				<%= file_field 'upload', 'datafile' %></p>
				<%= submit_tag "Upload", :class => 'large fancy_button'  %>
			<% end -%>
		<% else %>
			<%= link_to "« Upload another photo", :controller => 'home' %>
			<div id="grid">
				<div id="grid_top">
					<div class="large">
						<img src="<%= @image_prefix %>/uploads/<%= @image %>/$maxh.600/$crop.0.0.400.600/$border.5.5.000"/>
					</div>
					<div class="set">
						<div class="small">
							<img src="<%= @image_prefix %>/uploads/<%= @image %>/$maxh.200/$crop.0.0.175.200/$colorfilter.E50.FFFF00/$border.5.5.ccc"/>
						</div>
						<div class="small">
							<img src="<%= @image_prefix %>/uploads/<%= @image %>/$maxh.200/$crop.0.0.175.200/$colorfilter.080.44ff44/$border.5.5.ccc"/>
						</div>
						<div class="small">
							<img src="<%= @image_prefix %>/uploads/<%= @image %>/$maxh.200/$crop.0.0.175.200/$colorfilter.580.4444ff/$border.5.5.ccc"/>
						</div>
						<div class="small">
							<img src="<%= @image_prefix %>/uploads/<%= @image %>/$maxh.200/$crop.0.0.175.200/$colorfilter.040.ff4400/$border.5.5.ccc"/>
						</div>
						<div class="small">
							<img src="<%= @image_prefix %>/uploads/<%= @image %>/$maxh.200/$crop.0.0.175.200/$colorfilter.840.fe4c03/$border.5.5.ccc"/>
						</div>
						<div class="small">
							<img src="<%= @image_prefix %>/uploads/<%= @image %>/$maxh.200/$crop.0.0.175.200/$colorfilter.C40.fc1553/$border.5.5.ccc"/>
						</div>
					</div>
				</div>
				<div id="grid_bottom">
					<div class="medium">
						<img src="<%= @image_prefix %>/uploads/<%= @image %>/$maxh.300/$crop.0.0.250.300/$colorfilter.070.0f0/$border.5.5.cf0"/>
					</div>
					<div class="medium">
						<img src="<%= @image_prefix %>/uploads/<%= @image %>/$maxh.300/$crop.0.0.250.300/$colorfilter.080.f0f/$border.5.5.cf0"/>
					</div>
					<div class="medium">
						<img src="<%= @image_prefix %>/uploads/<%= @image %>/$maxh.300/$crop.0.0.250.300/$colorfilter.590.00f/$border.5.5.cf0"/>
					</div>
				</div>
			</div>
		<% end -%>
	</div>
</div>